.buttons {
  position: relative;
  min-height: 58px;
}

.button {
  background: var(--Dark-slate-grey);
  color: var(--White);
  padding: 1rem 0;
  font-weight: 700;
  position: absolute;
  transition: opacity 150ms ease-in-out;
  z-index: 10;
  left: 0;
  right: 0;
}

.button.btn--hover {
  opacity: 0;
  z-index: 20;
  background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(8, 100%, 65%));
}

.button.btn--hover:is(:hover, :focus) {
  opacity: 1;
}

.button.btn--hover::before {
  content: "";
  background: linear-gradient(to right, hsl(346, 100%, 66%), hsl(8, 100%, 65%));
  transform: translateY(10px);
  z-index: -1;
  inset: -5px;
  opacity: 0.5;
  position: absolute;
  filter: blur(10px);
}
